<!doctype html>
<html lang="en">
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <title>W4111-Proj1</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <span class="navbar-brand mb-0 h1">W4111-Proj1</span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav pull-right">

        {% if not username %}
          <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('register') }}">SignUp <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>    
        {% else%}
          <li class="nav-item">
            <a class="nav-link" href="#">{{username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% endif %}

        </ul>
        </div>
      </nav>
    </header>

    <h1>Welcome to our social media!</h1>
    <h1>Please Login first</h1>

  </body>
</html>